$primary: #7b1fa2;
$p-light: #ae52d4;
$p-dark: #4a0072;
$secondary: #00acc1;
$s-light:#5ddef4;
$s-dark: #007c91;

$text-p-dark:rgba(0, 0, 0, 0.87);
$text-s-dark: rgba(0, 0, 0, 0.54);
$text-d-dark: rgba(0, 0, 0, 0.38);
$text-div-dark: rgba(0, 0, 0, 0.12);

$text-p-light: rgba(255, 255, 255, 1);
$text-s-light: rgba(255, 255, 255, 0.7);
$text-d-light: rgba(255, 255, 255, 0.5);
$text-div-light: rgba(255, 255, 255, 0.12);

$icon-dark-active:rgba(0, 0, 0, 0.54);
$icon-dark-inactive: rgba(0, 0, 0, 0.38);
$icon-light-active: rgba(255, 255, 255, 1);
$icon-light-inactive: rgba(255, 255, 255, 0.5);

//MARGIN
// section margin
$section-margin-lg: 100px;
$section-margin-md: 70px;
$section-margin-sm: 50px;

//headings/ div margin
$heading-margin-lg: 50px;
$heading-margin-md: 30px;
$heading-margin-sm: 20px;

//content margin
$content-margin-lg: 20px;
$content-margin-md: 15px;
$content-margin-sm: 10px;


//PADDING
$padding-lg: 20px;
$padding-md: 15px;
$padding-sm: 10px;