* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Lato, sans-serif; }

.wrapper {
  width: 100%;
  max-width: 1200px;
  min-width: 300px;
  padding: 10px;
  margin: auto; }

#services {
  padding: 10px; }
  #services h2 {
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
    margin: 20px auto; }
  #services p {
    max-width: 900px;
    text-align: center;
    margin: auto; }

#services-options {
  padding: 10px;
  margin: auto; }
  #services-options > div {
    margin: auto;
    text-align: center;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 50px;
    margin: 20px;
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    #services-options > div:hover {
      -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
      transform: scale(1.03);
      -webkit-filter: brightness(1.2);
      filter: brightness(1.2);
      -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); }
  #services-options > div:first-child {
    background: #ae52d4 url(images/services-design-sm.jpeg) center/cover no-repeat;
    background-blend-mode: multiply; }
  #services-options > div:nth-child(2) {
    background: #5ddef4 url(images/services-build-sm.jpeg) center/cover no-repeat;
    background-blend-mode: multiply; }

@media (min-width: 900px) {
  #services-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    #services-options > div {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; } }
